/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: CoveredByYourGrace;
  src: url("../src/assets/fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf") format("truetype");
}
@font-face {
  font-family: IBMPlexMono;
  src: url("../src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
}

div {
  font-family: IBMplexMono;
}

button {
  font-family: IBMplexMono;
}

.btn_green {
  border-radius: 25px;
  padding: 5%;
  width: 250px;
  color: white;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 4px #999;
}

input {
  font-family: IBMplexMono;
  text-align: center;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #dedfdc;
  padding: 5%;
  width: 250px;
}

body {
  margin: 0;
}
