<div class="content">

  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div class="form_item">
      <input id="name" type="text" formControlName="name" placeholder="Username">
    </div>

    <div class="form_item">
      <input id="password" type="password" formControlName="password" placeholder="Passwort">
    </div>

    <button class="form_item btn_green" type="submit">Einloggen</button>
    <br>
    <button class="form_item btn_green" type="button" (click)="logout()">Ausloggen</button>


  </form>

  <form [formGroup]="joinLobbyForm" (ngSubmit)="joinLobby(joinLobbyForm.value)">
    <br>
    <button class="form_item btn_green" type="button" (click)="createLobby()">Create Lobby</button>
    <br>
    <div class="form_item">
      <input id="lobbyId" type="text" formControlName="lobbyId" placeholder="Lobby-ID">
    </div>
    <br>
    <button class="form_item btn_green" type="submit">Join Lobby</button>
  </form>

  <div id="switch">
    <a id="btn_switch" (click)="switch()">
      Zum Registrieren
    </a>
  </div>


