.content {
  justify-content: center;
  text-align: center;
}

.form_item {
  margin-top: 10px;
}

.btn_green {
  margin-top: 30px;
}

#switch {
  margin-top: 20px;
}

#btn_switch {
  text-decoration: underline;
}
