.background {
  background-color: white;
  height: 200px;
  width: 170px;
  border-radius: 30px;
  box-shadow: 5px 5px #B4B4B4;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}

.title {
  text-align: center;
  width: 170px;
  margin-top: 20px;
  margin-bottom: 15px;
  white-space: nowrap;
}

.subtitle {
  text-align: center;
  width: 170px;
  font-size: 13px;
  font-style: italic;
  font-weight: 100;
  margin-top: 0px;
  white-space: nowrap;
}

.icon-background {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background:hover {
  cursor: pointer;
}
