<h1>Montagsmaler</h1>
<div class="content">
  <div [ngSwitch]="getLoginState()">
    <div *ngSwitchCase="welcomeState.LOGIN">
      <app-login (stateChanges)="setLoginState($event)"></app-login>
    </div>
    <div *ngSwitchCase="welcomeState.REGISTER">
      <app-register (stateChanges)="setLoginState($event)"></app-register>
    </div>
    <div *ngSwitchCase="welcomeState.VERIFY">
      <app-verify (stateChanges)="setLoginState($event)"></app-verify>
    </div>
    <div *ngSwitchDefault>output2</div>
  </div>
</div>
