.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 175px;
}
.profile-picture-background {
  width: 75px;
  height: 75px;
  background-color: aqua;
  border-radius: 37.5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-background {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");

}

