p {
  text-align: center;
}


.columns {
  padding: 6rem 0 3rem 0;
  -webkit-columns: 2 300px;
  -moz-columns: 2 300px;
  columns: 2 300px;

  -webkit-column-gap: 6rem;
  -moz-column-gap: 6rem;
  column-gap: 6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

