<div class="background flex_center_column">
  <div class="popup flex_center_column" *ngIf="lobby" @enterAnimation>
    <h1>Alle startklar?</h1>
    <br>
    <div class class="players">
      <div class="comopetitors" >
        <div *ngFor="let player of lobby.members">
          <app-player-item name="{{player.name}}" [empty]="false" playerId="{{player.id}}"></app-player-item>
        </div>
        <!-- <div *ngFor="let player of lobby.members">
          <app-player-item name="{{player.name}}" [empty]="false" playerId="{{player.id}}"></app-player-item>
        </div> -->
      </div>
    </div>
    <br>
    <p>Teile den Link, um Mitspieler einzuladen</p>
    <div class="flex_center_column" style="flex-direction: row;">
      <div class="link_background flex_center_column" style="flex-direction: row;">
        <a href="javascript:">{{lobbyUrl}}</a>
      </div>
      <a href="javascript:" (click)="copyLobbyUrlToClipboard()"><img class="btn_copy" src="assets/images/copy.svg"></a>
    </div>
    <br>
    <a href="javascript:" class="btn_green" (click)="startGame()" *ngIf="isLobbyLeader">
      <img src="assets/images/play.svg" width="20px" style="padding-right: 20px;" />
      Spiel starten</a>

    <ng-content></ng-content>
  </div>
</div>
