.counter {
  font-size: 150px;
  margin: 0;
}

.h1-counter {
  margin: 0;
}

.time-left {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: 10px;
  padding: 0 15px 0 15px;
}

.toast-container {
  position: absolute;
  top: 30px;
  left: 30px;
}
