<h1>Male ein Pferd</h1>
<span (click)="boolGameStarted = false; boolCountdown = true;">Start</span>
<div class="flex_center_column">
  <app-draw-canvas style="position: relative; left: 30px;"></app-draw-canvas>
  <p>Du hast noch: <span class="time-left">30:00</span> Sekunden Zeit</p>
  <p (click)="showCountdown($event)" class="btn_green flex_center_column" style="flex-direction: row;">
    <img src="assets/images/check.svg" width="20px" style="padding-right: 20px;" />
    Fertig</p>
</div>






<app-countdown *ngIf="boolCountdown" @ngIfAnimation>
    <h1 class="h1-counter">Mach dich bereit!</h1>
    <h1 class="counter h1-counter">{{counter}}</h1>
</app-countdown>



