<h1>Male ein Pferd</h1>
<p (click)="showCountdown($event)">Countdown</p>
<p (click)="boolGameStarted = false; boolCountdown = true;">Start</p>
<div class="flex_center_column">
  <app-draw-canvas></app-draw-canvas>
</div>





<app-countdown *ngIf="boolCountdown" @ngIfAnimation>
    <h1 class="h1-counter">Mach dich Bereit!</h1>
    <h1 class="counter h1-counter">{{counter}}</h1>
</app-countdown>

<app-wait-for-players *ngIf="!boolGameStarted">
  <p (click)="startGame($event)">close</p>
</app-wait-for-players>


