<div class="background">
<div class="popup"@enterAnimation >
  <h1>Alle start klar?</h1>
  <div class class="players">
    <app-player-item name="Du" [empty]="false"></app-player-item>
    <div class="comopetitors">
      <app-player-item name="Paul" [empty]="false"></app-player-item>
      <app-player-item name="Gustav" [empty]="false"></app-player-item>
      <app-player-item name="" [empty]="true"></app-player-item>
      <app-player-item name="" [empty]="true"></app-player-item>
    </div>
  </div>

  <button class="btn_green" >Spiel starten</button>

  <ng-content></ng-content>
</div>
</div>


