<div class="focus" *ngIf="create" (click)="cancel($event)"></div>

<div class="{{create? 'background-focus' : 'background'}}" (click)="addNew($event)">
  <div class="icon-background" [ngStyle]="{'backgroundColor' : '#00D5B9'}">
    <img src="assets/images/plus.svg">
  </div>

  <p *ngIf="!create" class="title">Spiellobby erstellen</p>

    <input #box (keyup)="onKey(box.value)" *ngIf="create" placeholder="Name eingeben" >
    <img *ngIf="create" class="btn_round_green" src="assets/images/check.svg" width="30px" />

</div>

