canvas {
  background-image: url('../../../../assets/images/canvas.svg');
  background-repeat: no-repeat;
  background-size: 650px 500px;
  padding-bottom: 30px;
  width: 650px;
  height: 500px;
}

.layout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

