<div class="header">
  <div class = "box" *ngIf="User;else noUser">
    <div class="element">Eingeloggt als {{User.name}}</div>
    <a class="element" (click)="logout()">
      Logout
    </a>
  </div>
</div>

<ng-template #noUser >
    <div class = "box">
      <div class="element">Nicht Eingeloggt</div>
    </div>
</ng-template>

<div class="content">
  <router-outlet></router-outlet>
  <div class="footer">
    <p class="footerText">Made with ❤︎ by Jannik, Lucas & Niklas</p>
    <p class="footerText">Cloud4Dev - HdM</p>
  </div>
</div>
